 * {
     overflow-x: hidden;
 }
 
 body {
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 204);
    font-family: 'antonio', sans-serif;
}

header {
    background: #ffffcc;
    height: 10vh;
    display: flex;
    align-items: center;
    height: 100%;
}

#navbar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto 0;
}

#navbar img {
    margin-right: auto;
    margin-bottom: 1vh;
    margin-top: 1vh;
    padding: 0 30px;
    font-size: 3em;
    height: 13vh;
    width: auto;
    
}

#navbar ul {
    padding: 0;
    display: flex;
}

#burger {
    display: none;
}

#navbar li {
    margin: 0px;
    list-style: none;
}

#navbar a {
    text-decoration: none;
    text-transform: none;
    color: black;
    padding: 0 5px;
    margin: 0 25px;
    font-weight: 600;
    font-size: 2.2em;
}

#navbar a:hover {
    text-decoration: underline;
}


#banner {
    background: #681437;
    display: flex;
    color: white;
}

#banner-text {
    margin: 5vh auto 0 auto;
    position: relative;
    animation-name: bannerSlide;
    animation-duration: 1s;
}

#banner-text input {
    background: rgba(255, 255, 255, 0);
    color: white;
    height: 2.5vw;
    width: 13vw;
    border: 3px white solid;
    margin-top: 3vh;
    font-size: 1.4em;
    cursor: pointer;
    text-align: center;
}

#banner-text input:hover {
    color: rgb(104, 20, 55);
    background: white;
    transition: color 0.2s ease, background 0.2s ease;
}

#banner h1 {
    color: white;
    font-size: 4em;
    width: 18ch;
    margin-bottom: 1.5vh;
}

#banner span {
    color: #ffc;
    width: 60ch;
    font-size: 1.6em;
    display: block;
}

#banner img {
    height: 40vh;
    margin: 10vh;
}

#nav-below {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    margin-bottom: 9vh;
    background: rgba(0,0,0,0);
    z-index: 1;
}

.link-block {
    display: flex;
    flex-direction: column;
    background: rgba(0,0,0,0);
    z-index: 1;
}

.link-block a:first-child {
    height: 24vw;
    width: 17vw;
    margin: 1vw;
    display: inline;
    text-align: center;
    line-height: 15vw;
    cursor: pointer;
    position: relative;
    z-index: 1;
    text-decoration: none;
}

.link-block a:first-child:after {
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
    transition: background-color 0.3s ease;
}

.link-block a:first-child:hover:after {
    background-color: rgba(0, 0, 0, 0.1);
}


#menu-card {
    background-image: url("https://wallpaperaccess.com/full/424729.jpg");
    background-size: cover;
    color: white;
    font-size: 4em;
}

#location-card {
    background-image: url("https://assets.rbl.ms/21664246/origin.jpg");
    background-size: cover;
    color: white;
    font-size: 4em;
}

#story-card {
    background-image: url("https://cdn.hipwallpaper.com/i/16/57/RCw47l.jpg");
    background-size: cover;
    color: white;
    font-size: 4em;
}

.link-block a:last-child {
    height: 3vw;
    width: 17vw;
    margin: 1vw;
    background-color:rgba(255, 255, 255, 0);
    border: 3px solid black;
    font-size: 1.4em;
    cursor: pointer;
    text-align: center;
    line-height: 2.6vw;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    position: relative;
    transition: color 0.3s ease;
}

.link-block a:last-child:hover {
    color: white;
    border-color: #681437;
    transition: border-color 0.3s ease 0.3s;
}

.link-block a:last-child::before {
    transition: 0.3s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color:#681437;
}

.link-block a:last-child:hover::before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

footer {
    color: black;
    height: 30vh;
    background: rgba(0,0,0,0.1);
    display: flex;
}

footer img {
    height: 15vh;
    margin: 3vh 15vh 1vh auto;
}

footer div:last-child {
    margin-right: auto;
}

.footer-text {
    margin-right: 15vh;
}

.footer-text h1 {
    color: #681437;
    font-size: 2.2em;
}

.footer-text div {
    line-height: 34px;
    height: 15vh;
    font-size: 1.2em;
}

.footer-text a {
    color: black;
    text-decoration: none;
}

.footer-text a:hover {
    color: #681437;
}

.underline {
    text-decoration: underline;
}



/* ============ ABOUT PAGE STYLES ============ */

#about-banner {
    background:rgb(104, 20, 55);
    color: white;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
}

#about-banner h1 {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 2vh;
}

#about-body {
    display: flex;
    justify-content: space-around;
    margin-top: 10vh;
}

#about-body div {
    margin: 0 0;
}

#about-body h1 {
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 0.75vw;
    width: 15vw;
    display: flex;
    justify-content: center;
}

#about-body span {
    width: 15vw;
    margin-top: 2vh;
    padding: 1vh;
    line-height: 1.6em;
    display: block;
} 

#facebook-feed {
    background: gray;
    width: 13.5vw;
    height: 20vw;
    padding: 0.75vw;
    margin: 0.75vw;
}


/* ============ KEYFRAMES ============ */

@keyframes bannerSlide {
    0% {
        left: 100%;
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        left: 0%;
        opacity: 1;
    }
}

/* ============ MOBILE RESPONSIVE STYLES ============ */

@media only screen and (max-width: 800px) {
    #navbar img {
        margin: 1vh auto 1vh 0;
        padding: 0 30px;
        font-size: 3em;
        height: 15vw;
        width: auto;

    }

    #navbar {
        justify-content: center;
    }

    #navbar ul {
        position: fixed;
        flex-direction: column;
        background-color: #681437;
        top: 0;
        left: 0;
        height: 100vh;
        width: 0%;
        margin: auto 0;
        z-index: 20;
        transition: width 0.3s ease-in;
    }


    #navbar ul li {
        margin: auto;
        color: white;
    }

    #navbar a {
        color: white;
    }

    #burger {
        display: block;
        margin-left: auto;
        margin-right: 2vh;
        cursor: pointer;
        width: 5vw;
    }

    #burger div {
        height: 0.75vw;
        width: 4.7vw;
        background: black;
        margin: 0.3vw .15vw;
    }

    #burger div:first-child {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        width: 4vw;
        margin: 0.3vh 0.5vw;
    }

    #burger div:last-child {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        width: 4vw;
        margin: 0.3vh 0.5vw;
    }

    #nav-below {
        flex-direction: column;
        align-items: center;
    }

    .link-block a:first-child {
        height: 50vw;
        width: 70vw;
        line-height: 40vw;
    }

    .link-block a:last-child {
        height: 7vw;
        width: 70vw;
        line-height: 5.2vw;
    }

    #banner img {
        display: none;
    }

    #banner-text {
        margin: 0 5vh 5vh 5vh;
        position: relative;
    }

    #banner-text h1 {
        margin-top: 2.5vh;
    }

    #banner-text input {
        display: none;
    }

    #banner span {
        width: 100%;
        font-size: 1.6em;
    }

    footer {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .footer-text {
        margin: 0;
        text-align: center;
    }

    footer div:last-child {
        margin: 0;
    }

    footer div:last-child div {
        height: auto;
        margin-bottom: 2.5vh;
    }

    footer img {
        height: auto;
        width: 35vw;
        margin: 2vh;
    }
}